{% extends "IDCIGenealogyBundle::adminbase.html.twig" %}

{% block nav %}
  {% include "IDCIGenealogyBundle::entityNav.html.twig" with {'entities' : {
    'Elements':      { 'basepath': 'element'},
    'Medias':        { 'basepath': 'media'},
    'Races':         { 'basepath': 'race', 'active': true },
    'Roles':         { 'basepath': 'role'}
  }} %}
{% endblock %}

{% block body %}

    {{ parent() }}

    <h1>{% trans %}Race list{% endtrans %}</h1>

    <table class="table table-bordered table-striped table-condensed records_list">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('race_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                <ul>
                    <li>
                        <a class="btn btn-block" href="{{ path('race_show', { 'id': entity.id }) }}">
                            {% trans %}show{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block btn-primary" href="{{ path('race_edit', { 'id': entity.id }) }}">
                            {% trans %}edit{% endtrans %}
                        </a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('race_new') }}">
                {% trans %}Create a new entry{% endtrans %}
            </a>
        </li>
    </ul>

{% endblock %}
