{% extends "IDCIGenealogyBundle::adminbase.html.twig" %}

{% block nav %}
  {% include "IDCIGenealogyBundle::entityNav.html.twig" with {'entities' : {
    'Elements':      { 'basepath': 'element'},
    'Images':        { 'basepath': 'image'},
    'Races':         { 'basepath': 'race'},
    'Roles':         { 'basepath': 'role'},
    'Videos':        { 'basepath': 'video', 'active': true },
  }} %}
{% endblock %}

{% block body %}

    {{ parent() }}

    <div class="page-header">
      <h1>Video</h1>
    </div>

    <table class="table table-bordered table-striped record_properties">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Link{% endtrans %}</th>
                <td>{{ entity.link }}</td>
            </tr>
            <tr>
                <th>{% trans %}Title{% endtrans %}</th>
                <td>{{ entity.title }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a class="btn btn-primary" href="{{ path('video') }}">
                {% trans %}Back to the list{% endtrans %}
            </a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('video_edit', { 'id': entity.id }) }}">
                {% trans %}Edit{% endtrans %}
            </a>
        </li>
        <li>
            {{ form_widget(delete_form) }}
        </li>
    </ul>

{% endblock body %}
