{% extends "IDCIGenealogyBundle::adminbase.html.twig" %}

{% block nav %}
  {% include "IDCIGenealogyBundle::entityNav.html.twig" with {'entities' : {
    'Elements':      { 'basepath': 'element'},
    'Medias':        { 'basepath': 'media', 'active': true },
    'Races':         { 'basepath': 'race'},
    'Roles':         { 'basepath': 'role'}
  }} %}
{% endblock %}

{% block body %}

    {{ parent() }}

    <h1>{% trans %}Media{% endtrans %}</h1>

    <table class="table table-bordered table-striped record_properties">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Path{% endtrans %}</th>
                <td>{{ entity.path }}</td>
            </tr>
            <tr>
                <th>{% trans %}Updated_at{% endtrans %}</th>
                <td>{{ entity.updatedat|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('media') }}">
                {% trans %}Back to the list{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('media_edit', { 'id': entity.id }) }}">
                {% trans %}Edit{% endtrans %}
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>

{% endblock %}
