{% extends "IDCIGenealogyBundle::adminbase.html.twig" %}

{% block nav %}
  {% include "IDCIGenealogyBundle::entityNav.html.twig" with {'entities' : {
    'Elements':      { 'basepath': 'element'},
    'Medias':        { 'basepath': 'media'},
    'Races':         { 'basepath': 'race'},
    'Roles':         { 'basepath': 'role', 'active': true }
  }} %}
{% endblock %}

{% block body %}

    {{ parent() }}

    <div class="page-header">
        <h1>{% trans %}Role edit{% endtrans %}</h1>
    </div>

    <form action="{{ path('role_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">{% trans %}Edit{% endtrans %}</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('role') }}">
                {% trans %}Back to the list{% endtrans %}
            </a>
        </li>
        <li>
            <form action="{{ path('role_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">{% trans %}Delete{% endtrans %}</button>
            </form>
        </li>
    </ul>

{% endblock body %}