{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Element list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Birthdate</th>
                <th>Size</th>
                <th>Weight</th>
                <th>Sex</th>
                <th>Rank</th>
                <th>Coatcolor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('element_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{% if entity.birthDate %}{{ entity.birthDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.size }}</td>
                <td>{{ entity.weight }}</td>
                <td>{{ entity.sex }}</td>
                <td>{{ entity.rank }}</td>
                <td>{{ entity.coatColor }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('element_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('element_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('element_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
