{% extends "IDCIGenealogyBundle::adminbase.html.twig" %}

{% block nav %}
  {% include "IDCIGenealogyBundle::entity_nav.html.twig" with {'entities' : {
    'Element':      { 'basepath': 'element', 'active': true },
    'Genealogy':    { 'basepath': 'genealogy' },
    'Media':        { 'basepath': 'media' },
    'Role':         { 'basepath': 'role' }
  }} %}
{% endblock %}

{% block body %}

{{ parent() }}

<div class="page-header">
  <h1>{% trans %}Element creation{% endtrans %}</h1>
</div>

<form action="{{ path('element_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-primary">{% trans %}Create{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a class="btn" href="{{ path('element') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
</ul>
{% endblock body %}
