{% extends "IDCIGenealogyBundle::adminbase.html.twig" %}

{% block nav %}
  {% include "IDCIGenealogyBundle::entityNav.html.twig" with {'entities' : {
    'Elements':      { 'basepath': 'element', 'active': true},
    'Medias':        { 'basepath': 'media'},
    'Races':         { 'basepath': 'race'},
    'Roles':         { 'basepath': 'role'}
  }} %}
{% endblock %}

{% block body %}

    {{ parent() }}

    <h1>{% trans %}Element{% endtrans %}</h1>

    <table class="table table-bordered table-striped record_properties">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}Birthdate{% endtrans %}</th>
                <td>{{ entity.birthDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{% trans %}Size{% endtrans %}</th>
                <td>{{ entity.size }}</td>
            </tr>
            <tr>
                <th>{% trans %}Weight{% endtrans %}</th>
                <td>{{ entity.weight }}</td>
            </tr>
            <tr>
                <th>{% trans %}Sex{% endtrans %}</th>
                <td>{{ entity.sex }}</td>
            </tr>
            <tr>
                <th>{% trans %}Coatcolor{% endtrans %}</th>
                <td>{{ entity.coatColor }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('element') }}">
                {% trans %}Back to the list{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('element_edit', { 'id': entity.id }) }}">
                {% trans %}Edit{% endtrans %}
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>

{% endblock %}
