{% extends "IDCIGenealogyBundle::adminbase.html.twig" %}

{% block nav %}
  {% include "IDCIGenealogyBundle::entity_nav.html.twig" with {'entities' : {
    'Element':      { 'basepath': 'element'},
    'Genealogy':    { 'basepath': 'genealogy', 'active': true },
    'Media':        { 'basepath': 'media' },
    'Role':         { 'basepath': 'role' }
  }} %}
{% endblock %}

{% block body %}

{{ parent() }}

<div class="page-header">
  <h1>Genealogy</h1>
</div>

<table class="table table-bordered table-striped record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a class="btn" href="{{ path('genealogy') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a class="btn btn-primary" href="{{ path('genealogy_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>
        <form action="{{ path('genealogy_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger">{% trans %}Delete{% endtrans %}</button>
        </form>
    </li>
</ul>
{% endblock body %}
